
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(Covers/header.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: Arial;
    margin-top: 30px;
    animation: transitionIn 0.80s;
}

nav{
   display: flex;
   width: 100%;
   justify-content: space-around;
   height: 80px;
   z-index: 111;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}


.nav-list{
    display: flex;
}

.nav-list li{
    list-style: none;
    margin: 0 15px;
}

.nav-list li a{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: capitalize;

}
.nav-list li:hover a{
    color: #990a1f;

}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.links a:hover{
    color: hsl(351, 97%, 39%);
    transition: 0.4s ease-in-out;
}

.links a{
    font-size: 30px;
    color: #fff;
    margin: 25px 10px;
}

.text{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: left;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    font-size: 10px;
}

.JOJI{
    width: 50%;
}

.topline{
  display: block;
  position: relative;
  font-size: 35px;  
  letter-spacing: 5px;
  color: #fff;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: hsl(351, 97%, 39%);
}

h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #ffff;
}

.multitext{
    color: hsl(351, 97%, 39%);
    text-transform: capitalize;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


